*{
    margin: 0;
}
.HeaderMain{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
    
}
#HeaderName{
    text-align: center;
    font-size: 4.5vw;
    flex-grow: 1;
    
}
#login-icon{
    height: 5.5vw;
    width: 5.5vw;
    border-radius: 50%;
}
#Drop_down{
    position: absolute;
    right: 0;
    background-color: aliceblue;
    color: black;
    font-size: 2vw;
    padding-right: 1vw; 
    padding-left: 1vw;
    padding-bottom: 1vw;
    float: right;
    border-radius: 4px;
    margin-right: 1vw;
}

ul{
    list-style-type: none;
}
#dropDownButton{
  background: none;
  margin-top: 1px;
  margin-bottom: 1px;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
}
#dropDownButton:hover{
    background-color: rgba(180, 92, 255, 0.4);
}