*{
    margin: 0;
}
.HeaderMain{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    display: flex;
    
}
#HeaderName{
    text-align: center;
    font-size: 4.5vw;
    flex-grow: 1;
    
}
#login-icon{
    height: 5.5vw;
    width: 5.5vw;
}