.TickerComponent{
    margin: auto;
    width: 35vh;
    padding: 10px;
    margin-top: 10px;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: none;
   
}
.topSection{
    display: flex;
    position: relative;
}

#TickerName{
    font-size:  2.5vh;
}

#arrow{
    height: 2.5vh;
    width: 2.5vh;
    float: right;
}

#closeButton{
    height: 3vh;
    width: 3vh;
    top: 0.1vh;
    right: 0.1vh;
    position: absolute;
}

.data{
    width: 44%;
    font-size: 1.25vh;
    display: inline-block;
    padding-left: 10px;
}

#BuySell {
    display: flex; 
    align-items: center;
    padding-bottom: 5px;
}
#volumeInput{
    width: 5vh;
    border-radius: 10px;
    font-size: 1.25vh;

}
#purchase{
    padding-left: 10px;
    font-size: 1.5vh;
}
.PlusMinus{
    background-color: transparent;
    border: solid 2px;
    margin: 5px;
    padding: 2px;
    border-radius: 0;
    font-size: 1.25vh;
}
.PlusMinus:active{
    box-shadow: 2px;
}