.TickerComponent{
    margin: auto;
    width: 35vh;
    height: 10vh;
    padding: 10px;
    margin-top: 10px;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: none;
    
}
.topSection{
    display: flex;
    position: relative;
}

#TickerName{
    font-size:  2.5vh;
}

#arrow{
    height: 2.5vh;
    width: 2.5vh;
    float: right;
}

#closeButton{
    height: 3vh;
    width: 3vh;
    top: 0.1vh;
    right: 0.1vh;
    position: absolute;
}

#leftData{
    width: 45%;
    float: left;
    padding-left: 2%;
    font-size: 1.25vh;
}

#rightData{
    width: 50%;
    float: right;
    padding-right: 2%;
    font-size: 1.25vh;
}