.TickerComponent{
    margin: auto;
    width: 37vh;
    padding: 10px;
    margin-top: 10px;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: none;
   
}
.topSection{
    display: flex;
    position: relative;
}

#TickerName{
    font-size:  2.5vh;
}

#arrow{
    height: 2.5vh;
    width: 2.5vh;
    float: right;
}

#closeButton{
    height: 3vh;
    width: 3vh;
    top: 0.1vh;
    right: 0.1vh;
    position: absolute;
    cursor: pointer;
}

.data{
    width: 44%;
    font-size: 1.25vh;
    display: inline-block;
    padding-left: 10px;
}

#BuySell {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    border-top: solid 2px;
}
#setVolume{
    display: flex;
    align-items: center;
}
#volumeInput{
    width: 7.5vh;
    border-radius: 10px;
    font-size: 1.25vh;
    cursor: pointer;
}
#confirmBTN{
    margin-left: 10px;
    padding: 2px;
    border: solid 2px;
    border-radius: 10px;
    font-size: 1.25vh;
    cursor: pointer;
}
#setVolumeText{
    padding-left: 10px;
    padding-right: 5px;
    font-size: 1.5vh;
}