.NetStatisticsMain{
    background-color: black;
    width: 30vh;
    height: 20vh;
    border-radius: 45px;
    font-size: 1.5vh;
    position: relative;
}
#netGain{
    background-image: linear-gradient(to bottom right, rgba(0, 255, 66, 0.6), rgba(62,54,63,0.6));
}
#netLoss{
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0.6), rgba(62,54,63,0.6));
}
#netZero{
    background-image: linear-gradient(to bottom right, rgba(255,245,0,0.6), rgba(62,54,63,0.6));
}

#topData{
    display: flex;
    padding-top: 2vh;
    justify-content: space-evenly;
}
#unrealizedData{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    padding-bottom: 2vh;
}

.description{
    color: #333333;
}
.value{
    color: #000000;
}