.WatchlistMain{
    background-color: white;
    display: flex;
    border-radius: 45px;
    width: 22vh;
    margin: 10px;
    font-size: 1.75vh;
}
#WLName{
    color: #828282;
}
#gainImage{
    width: 3vh;
    height: 6px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 4px;
}