.TickerComponent{
    margin: auto;
    width: 50%;
    height: 16vw;
    padding: 10px;
    margin-top: 10px;
    background-color: #d9d9d9;
    border-radius: 15px;
    
}

.topSection{
    display: flex;
    position: relative;
}

#TickerName{
    font-size:  3.5vw;
}

#arrow{
    height: 3.5vw;
    width: 3.5vw;
    float: right;
}

#closeButton{
    height: 3.5vw;
    width: 3.5vw;
    top: 0.1vw;
    right: 0.1vw;
    position: absolute;
}

.className{
    padding-top: 4vw;
    display: flex;
    position: absolute;
}
#leftData{
    width: 45%;
    float: left;
    padding-left: 2%;
    font-size: 1.75vw;
}

#rightData{
    width: 50%;
    float: right;
    padding-right: 2%;
    font-size: 1.75vw;
}