@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}

.Main{
  color: black;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(109, 49, 144), black);
}
#EnterQeury{
  text-align: center;

}
.input{
  text-align: center;
}